<!-- On about.ejs -->
<%- include("partials/header"); -%>

<div class="container">
  <h1>About</h1>
  <h3><i>Welcome to Our Daily Journal, a place where we celebrate the beauty of daily life, one journal entry at a time. We believe that every day is a new chapter waiting to be written, and our mission is to inspire and guide you on your journaling journey.</i></h3>
</div>


