<!-- On contact.ejs -->
<%- include("partials/header"); -%>

<div class="container">
  <h1>Contact</h1>
  <h3><i>Name : KAIFY ISLAM </i></h3>
  <h3><i>Email : islam.kaify7@gmail.com </i></h3>
  
</div>

