<%- include('partials/login_header') %>

<div class="container mt-5">
  <h1 style="color: aliceblue; text-align: center;"><i>Register</i></h1>

  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark btn-block">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="col-lg-6 mx-auto"> <!-- Centered div -->
    <div class="card" style="margin: 12px;">
      <div class="card-body text-center">
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Sign Up with Google
        </a>
      </div>
    </div>
    <div class="card" style="margin: 12px;">
      <div class="card-body text-center">
        <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
          <i class="fab fa-facebook"></i>
          Sign Up with Facebook
        </a>
      </div>
    </div>
  </div>
</div>


